*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#num{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:rgb(207, 207, 207);
  font-size: 120px;
  font-family: Roboto;
  border: solid rgb(138, 138, 138) 20px;
}

body{
  width: 100%;
  height: 100%;
}