/* .box{
  height:200px;
  width: 200px;
  background-color: skyblue;
  font-size:xx-large;
  text-align: center;
  border: solid black 2px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
} */