*{
  margin: 0px;
  padding: 0px;
  background-color:#f6f5f8;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-header{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-header-2{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.gov_logo{
    margin-top: 6px;
    width: 350px;
    background-color: white;
    padding-bottom: 6px;
}

.greet-text{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.details form{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 16px 8px 4px 8px;
  border: 2px solid rgb(222, 221, 221);
  border-radius: 16px;
  height:50px;
  font-size: 17px;
  justify-content: space-between;
}

.input{
  border-radius: 8px;
  height:20px;
  background-color: white;
  border: 2px solid #ccc
  
}

select {
  height: 22px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 8px; 
  cursor: pointer;
  background-color: white;
}

.radio-group{
  display: inline-block;
}

#birthday{
  height: 22px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 8px; 
  cursor: pointer;
  background-color: white;
}

