.subs{
  height: 60px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  background-color: red;
  color: white;
  border: solid red 2px;
  border-radius: 5px;
  cursor: pointer;
}

:hover.subs{
  background-color: white;
  color: skyblue;
}