.main{
  display:flex;
  border: 2px solid black;
  height:150px;
  flex-wrap: wrap;
  justify-content: space-between;
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: aqua;
  flex-direction: column;
  
}