.box{
  height: 100px;
  width: 100px;
  background-color: skyblue;
  border: solid black 2px;
}

.main_box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:pink;
  height: 300px;
  width: 300px;
  border: solid black 2px;
}