/* .box{
  height: 300px;
  width: 300px;
  background-color: pink;
  border: solid black 2px;
} */

/* .name{
  height: 70px;
  width: 180px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border: solid rgb(221, 212, 212) 2px;
  border-radius: 10px;
} */

.choose{
  height: 50px;
  width: 180px;
  background-color: rgb(166, 237, 237);
  border : solid white 2px;
  font-family:'Trebuchet MS', sans-serif;
  font-size: 15px;
}